
@import url('https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet');

table {
     border: 1px solid black;
     border-collapse: collapse;
   }

thead{
  background-color: #cce6ff;
}

tbody>tr:nth-child(odd) {
     background-color: #99e6ff;
     
}
